<script>
  placeholder = function(image) {
    image.src = "data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1637e4fce09%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1637e4fce09%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.234375%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
  }
</script>

<section class="jumbotron text-center" style="padding: 2rem 1rem;">
  <div class="container">
    <h1 class="jumbotron-heading">Rails & Searchkick Example</h1>
    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
    <center style="margin: auto; width: 75%;">
      <form action="<%= prepare_url("search", { "key": params[:search] }) %>" class="form-inline search-form" style="width: 422px;">
        <input id="search" name="search" style="width: 422px;" class="form-control" type="search" placeholder="Search" aria-label="Search" value="<%= params[:search] %>">
      </form>
    </center>
  </div>
</section>
<div class="row">
  <div class="col-sm-3">
    <div class="row" style="margin: 0;">
      <% @categories.each do |category_name, options| %>
        <div class="card mb-4 box-shadow" style="width: 100%;">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted"><%= category_name.humanize %></h6>
            <% options.each do |option| %>
              <div class="form-check">
                <% checked = is_checked(category_name, option) %>
                <%= link_to prepare_url(category_name, option, checked.present?) do %>
                  <input class="form-check-input" type="checkbox" <%= checked %> value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    <%= prepare_name(category_name, option) %>
                  </label>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-sm-9">
    <div class="card mb-4 box-shadow">
      <div class="card-body" style="padding-bottom: 10px;">
        <h5 class="card-title" style="color: #000;"><%= number_to_human(@mobile_phones.total_count, :format => '%n%u', :units => { :thousand => 'K', :million => 'M', :billion => 'B' }) %> Mobile Phones</h5>
        <%= prepare_query_tag if query_string? %>
      </div>
    </div>
    <% if @suggestions.present? %>
    <div class="card mb-4">
      <h5 class="card-header"> Suggestions </h5>
      <div class="card-body">
        <%= prepare_suggestion_tag %>
      </div>
    </div>
    <% end %>
    <div class="row">
      <% @mobile_phones.each do |mobile_phone| %>
        <div class="col-sm-6 col-md-4">
          <%= link_to mobile_phone, style: "text-decoration: none;" do %>
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="<%= mobile_phone.avatar %>" onError="placeholder(this)">
            <div class="card-body">
              <h5 class="card-title" style="color: #000;"><%= mobile_phone.highlighted_value_of(:name) %></h5>
              <ul style="list-style: none; padding: 0; margin: 0;">
                <li> ₹<%= number_with_delimiter(mobile_phone.price, :delimiter => ',') %> </li>
                <li> <%= mobile_phone.ram %> GB RAM </li>
                <li> <%= mobile_phone.screen_size %> inch Display </li>
                <li> <%= mobile_phone.primary_camera %> Rear Camera </li>
                <li> <%= mobile_phone.battery %> mAh Battery </li>
              </ul>
            </div>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <center style="margin: auto; width: 50%;">
      <%= paginate @mobile_phones, theme: 'twitter-bootstrap-4' %>
    </center>
  </div>
</div>


<script>
  var mobile_phones = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    remote: {
      url: '/mobile_phones/autocomplete?query=%QUERY',
      wildcard: '%QUERY'
    }
  });
  $('#search').typeahead(null, {
    source: mobile_phones
  });

  $('#search').on('typeahead:selected', function(evt, item) {
    $(".search-form").submit();
  })
</script>
