<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Rails & Searchkick Example</h1>
    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
    <center style="margin: auto; width: 50%;">
      <form action="<%= prepare_url("search", { "key": params[:search] }) %>" class="form-inline my-2 my-lg-0">
        <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" value="<%= params[:search] %>">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </center>
  </div>
</section>
<div class="row">
  <div class="col-sm-3">
    <div class="row" style="margin: 0;">
      <% @categories.each do |category_name, options| %>
        <div class="card mb-4 box-shadow" style="width: 100%;">
          <!-- <h5 class="card-header"><%= category_name.humanize %></h5> -->
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted"><%= category_name.humanize %></h6>
            <% options.each do |option| %>
              <div class="form-check">
                <% checked = is_checked(category_name, option) %>
                <%= link_to prepare_url(category_name, option, checked.present?) do %>
                  <input class="form-check-input" type="checkbox" <%= checked %> value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    <%= prepare_name(category_name, option) %>
                  </label>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-sm-9">
    <div class="card" style="margin-bottom: 20px;">
      <h5 class="card-header" style="<%='border-bottom: 0;' unless query_string? %>"><%= @mobile_phones.total_count %> Mobile Phones </h5>
      <% if query_string? %>
        <div class="card-body">
          <%= prepare_query_tag %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <% @mobile_phones.each do |mobile_phone| %>
        <div class="col-sm-6 col-md-4">
          <%= link_to mobile_phone, style: "text-decoration: none;" do %>
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="<%= mobile_phone.avatar %>">
            <div class="card-body">
              <h5 class="card-title" style="color: #000;"><%= mobile_phone.name.truncate(20) %></h5>
              <ul style="list-style: none; padding: 0; margin: 0;">
                <li> ₹<%= number_with_delimiter(mobile_phone.price, :delimiter => ',') %> </li>
                <li> <%= mobile_phone.ram %> GB RAM </li>
                <li> <%= mobile_phone.screen_size %> inch Display </li>
                <li> <%= mobile_phone.primary_camera %> Rear Camera </li>
                <li> <%= mobile_phone.battery %> mAh Battery </li>
              </ul>
            </div>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <center style="margin: auto; width: 50%;">
      <%= paginate @mobile_phones, theme: 'twitter-bootstrap-4' %>
    </center>
  </div>
</div>
