<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-4">
    <img src="<%= @mobile_phone.avatar %>" alt="..." class="img-thumbnail">
  </div>
  <div class="col-sm-8">
    <div class="card" style="margin-bottom: 20px;">
      <div class="card-body">
        <h4 class="card-title"><%= @mobile_phone.name %></h4>
        <p class="card-text"><%= @mobile_phone.description %></p>
        <ul style="list-style: none; padding: 0; margin: 0;">
          <li> ₹<%= number_with_delimiter(@mobile_phone.price, :delimiter => ',') %> </li>
          <li> <%= @mobile_phone.ram %> GB RAM </li>
          <li> <%= @mobile_phone.screen_size %> inch Display </li>
          <li> <%= @mobile_phone.primary_camera %> Rear Camera </li>
          <li> <%= @mobile_phone.battery %> mAh Battery </li>
        </ul>
      </div>
    </div>
  </div>
</div>
